# Configuración del servidor
NODE_ENV=production
PORT=5500

# Configuración JWT
JWT_SECRET=clave_secreta_videojuegos1234_super_segura
JWT_EXPIRES_IN=1h

# Configuración OAuth Google
GOOGLE_CLIENT_ID=625157329918-fu8qilqao7et3psb98oqcj31go2k1es6.apps.googleusercontent.com

# Configuración de la aplicación
APP_NAME=JWT-Token-GameStore
APP_VERSION=1.0.0
